<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.1.1.0" targetFramework="net45" />
  <package id="AWSSDK.Route53" version="3.1.0.1" targetFramework="net45" />
  <package id="AWSSDK.S3" version="3.1.2.1" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="ManagedOpenSsl" version="0.6.1.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
</packages>